body {
  background-image: url( "images/bg_body.png" );
  background-color: white;
  margin: 0;
}

#wrapper {
  background-color: white;
  margin: 10px 55px;
  overflow: auto;
  height: 60px;
  padding: 3px;
}

#container {
  width: 85%;
  margin: 0 60px;
}

header {
  background-color: black;
  color: white;
}

nav {

}

ul {
  margin: 0 55px;
}

li {
  display: inline-block;
  padding: 20px;
}

#main-content {
  float: left;
  height: 100%
}

#social-media {
  height: 50%;
  float: right;
}

.photo-banner {
  padding: 3px;
  margin: 0 55px;
  height: 90%;
  box-sizing: border-box;
}

.photo-banner img {
  margin: 0;
}

.blurb {
  margin: 0 50px;
  padding: 15px;
  overflow: auto;
  box-sizing: border-box;
  border: 2px solid gray;
}

.blurb-article {
  width: 70%;
  float: left;
}

.blurb-image {
  width: 30%;
  float: left;
  box-sizing: border-box;
  padding: 0 50px;
}

.home-boxes {
  overflow: auto;
  padding: 5px;
  margin: 0 55px;

}

.home-box {
  float: left;
  margin: 0 15px;
  box-sizing: border-box;
  width: 30%;
  padding: 5px;
}

.home-box img {
  border: 3px solid gray;
}

a {
  text-decoration: none;
}
