/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  font-family: "Times New Roman", serif;
  font-size: 12px;
  color: #656565;
  line-height: 17px;
  letter-spacing: .8px;
  word-spacing: .8px;
}

div.logo {
  margin: 40px 120px 0px 60px;
}

article {
  max-width: 960px;
  margin: 0 120px 0 60px;
  display: block;
}

div.banner {
  display:block;
  margin: 0 120px 0 60px;

}

a {
  color: #6699cc;
  text-decoration: none;
}

a:hover {
  color: #20222a;
}

.date {
  color: #6699cc;
}

h1 {
  color: #8e8e8e;
  font-size: 3.3em;
}

h2 {
  color: #5a5a5a;
}

.container {
  width: 960px;
  height: 160px;
  background-color: #ffffff;
  margin: 0 120px 0 60px;
  overflow: auto;
}

div.column {
  width: 25%;
  margin: 0px;
  box-sizing: border-box;
  display: inline-block;
  float: left;
}

img.column {
  width: 99%;
  box-sizing: border-box;
  border: 4px solid #cccccc;
  overflow: auto;
}

div.footer {
margin: 0 120px 30px 60px;
}
