/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  text-align: left;;
  margin-left: 100px;
  font-size: 12px;
  font-family: "Times New Roman", serif;
  line-height: 17px;
  color: #656565;
  max-width: 960px;
}

h1 {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 15px;
}


h4 {
  text-align:left;
}

h6 {
  color: lightblue;
  margin: 0;

}

section {
  text-align:justify;
  margin: 0;

}

p:hover {
  color: #20222a;
}


.mainpictures {
  float: left;
  margin-right: 10%;
}

a {
  color: lightblue;
  text-decoration:none;
}

.adbox {
  display: inline;
  width: 240px;

}

footer {
  text-align: left
}
