<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Movie Database</h1>
  <hr>
  <%= yield %>
  <hr>
  <footer>
    <a class="button" href="/">Home</a>
    <br>
    Created by Steve Liu
  </footer>

</body>
</html>
