
<h3>Enter your search</h3>

<form action="/results" method="GET">
  <label>Search by movie title.</label>
  <input type="text" name="title" placeholder="Movie Title">
  <input type="submit" value="Search Now">
</form>
