<form>
  <input type="text" id="searchFlickr" placeholder="Search...">
  <input type="submit" value="Search Flickr">
</form>

<div id="results">

</div>
<div id="more">
  <button>More results</button>
</div>
<hr>
